[submodule "nvme_rpm/nvme-cli"]
	path = nvme_rpm/nvme-cli
	url = https://github.com/timberland-sig/nvme-cli.git
	branch = timberland_main
[submodule "dracut_rpm/dracut_ng"]
	path = dracut_rpm/dracut-ng
	url = https://github.com/timberland-sig/dracut-ng.git
	branch = timberland_main
[submodule "redhat/rpms/nvme-cli"]
	path = redhat/rpms/nvme-cli
	url = https://github.com/linux-nvme/nvme-cli.git
[submodule "host-vm/nvmeof-utils"]
	path = host-vm/nvmeof-utils
	url = https://github.com/timberland-sig/nvmeof-utils.git
