a.out
*.o
*.ol
*.os
*~
*.swp
*.a
*.so.*
*.tar.gz
*.tar.xz
cscope.*
*/rpmbuild/*
*/.build/*
*/disks/*
*/.qargs
*/.start
.edk2pkgs
.pkgs
.usr
edk2/*
lorax_results/*
mock_result/*
ISO/*
OVMF/NvmeOfCli.efi
OVMF/OVMF_CODE.fd
OVMF/OVMF_VARS.fd
