[submodule "dracut_rpm/dracut"]
	path = dracut_rpm/dracut
	url = git@github.com:johnmeneghini/dracut.git
	branch = timberland_final_v2
[submodule "libnvme_rpm/libnvme"]
	path = libnvme_rpm/libnvme
	url = git@github.com:timberland-sig/libnvme.git
	branch = timberlandmaster_final_v13
[submodule "nvme_rpm/nvme-cli"]
	path = nvme_rpm/nvme-cli
	url = git@github.com:timberland-sig/nvme-cli.git
	branch = timberlandmaster_final
