[submodule "host-vm/nvmeof-utils"]
	path = host-vm/nvmeof-utils
	url = https://github.com/timberland-sig/nvmeof-utils.git
[submodule "nvme-rpm/nvme-cli"]
	path = nvme-rpm/nvme-cli
	url = https://github.com/linux-nvme/nvme-cli.git
