a.out
*.o
*.ol
*.os
*~
*.swp
*.a
*.so.*
*.tar.gz
*.tar.xz
cscope.*
*/rpmbuild/*
*/.build/*
*/disks/*
*/.qargs
*/.start
.edk2pkgs
.pkgs
.usr
.macaddr
edk2/*
lorax/*
lorax_results/*
mock_result/*
ISO/*
host-vm/efi
host-vm/OVMF_CODE.fd
host-vm/vm_vars.fd
host-vm/eficonfig/NvmeOfCli.efi
host-vm/efi.tgz
host-vm/discover_target.sh
host-vm/copy_efi.sh
host-vm/eficonfig/config
host-vm/efidisk
