a.out
*.o
*.ol
*.os
*~
*.swp
*.a
*.so.*
*.tar.gz
*.tar.xz
cscope.*
*/rpmbuild/*
*/mock_build/*
*/.build/*
*/.lorax/*
*/anaconda-ks.cfg
*/boot.iso
*/disks/*
*/.qargs
*/.netaddr
*/.start
*/.netport
.private
.edk2pkgs
.pkgs
.pkgs2
.durl
.diso
.devel
.usr
.macaddr
.ssh
edk2/*
lorax/*
lorax_results/*
mock_result/*
mock_repo/*
__pycache__/*
ISO/*
artifacts/*
*-vm/.net
host-vm/bootlog*
host-vm/efi
host-vm/OVMF_CODE.fd
host-vm/vm_vars.fd
host-vm/eficonfig/NvmeOfCli.efi
host-vm/eficonfig/VConfig.efi
host-vm/efi.tgz
host-vm/copy_efi.sh
host-vm/eficonfig/config
host-vm/efidisk
