# Router network configuration
# Copy to .env and modify as needed.

# Target-side subnets (192.168.2x)

# This is the name of the interface as it shows inside the container.
# Usualy, this does not need to be changed.
TARGET1_IFACE=eth3

# This is the subnet that machines reachable over the said interface will belong into.
TARGET1_NET=192.168.20.0/24

# This IP address is what the router gets on the said interface.
TARGET1_IP=192.168.20.1

TARGET2_IFACE=eth4
TARGET2_IP=192.168.21.1
TARGET2_NET=192.168.21.0/24

TARGET3_IFACE=eth5
TARGET3_IP=192.168.22.1
TARGET3_NET=192.168.22.0/24

# Host-side subnets (192.168.3x)
HOST1_IFACE=eth6
HOST1_IP=192.168.30.1
HOST1_NET=192.168.30.0/24

HOST2_IFACE=eth7
HOST2_IP=192.168.31.1
HOST2_NET=192.168.31.0/24

HOST3_IFACE=eth8
HOST3_IP=192.168.32.1
HOST3_NET=192.168.32.0/24
